* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 2.5vh auto;
}

/* --------- */



/* UTILITIES */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.flex-grow {
    flex-grow: 1;
}

.align-center {
    align-items: center;
}

.text-small {
    font-size: 0.9rem;
}

.grey-text {
    color: rgb(177 177 177);
}

/* ------- */



/* CONTENT */

#webapp-height {
    height: 95vh;
}


/* LEFT SIDE */

#profile-navigation {
    height: 100%;
    width: 40%;
}

#profile {
    background-color: rgb(234 234 234);
    height: 7.5%;
}

#profile-icons,
#chat-title-icons {
    color: rgb(177 177 177);
    margin: 0 10px;
}

#profile-icons *,
#chat-title-icons * {
    padding: 5px;
}

#activate-notification {
    background-color: rgb(142 218 252);
    height: 10%;
}

#bell-notification {
    background-color: white;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    color: rgb(146 218 252);
    text-align: center;
    margin: 1rem;
}

#bell-notification * {
    padding: 30% 0;
}

#search-contact {
    background-color: rgb(250 250 250);
    height: 5%;
    padding: 0 1rem;
}

#icon-search-contact {
    color: rgb(177 177 177);
    background-color: white;
    padding: 5px;
}

#box-search-contact * {
    border: 0;
    color: rgb(177 177 177);
    background-color: white;
    padding: 5px;
    margin-left: 5px;
}

#list-contacts {
    background-color: white;
    height: 77.5%;
    overflow-y: scroll;
}

#single-contact {
    padding: 5px;
    border: 2px solid rgb(247 247 247);
}

.selected {
    background-color: rgb(233 235 235);
}

.profile-picture {
    width: 3rem;
    border-radius: 50%;
    margin-right: 10px;

}

#name-contact {
    font-size: 1.1rem;
}

#last-message-contact,
#time-contact {
    color: rgb(183 186 188);
    font-size: 0.7rem;
}

/* ----------- */



/*  RIGHT SIDE */

#chat-container {
    height: 100%;
    width: 60%;
}

#chat-title {
    background-color: rgb(234 234 234);
    height: 7.5%;
    border-left: 1px solid rgb(224 224 224);
}

#chat-display {
    background-image: url('../img/mine.jpg');
    height: 82.5%;
    overflow-y: scroll;
}

.chat-date {
    text-align: right;
}

.received {
    background-color: white;
    align-self: flex-start;
    width: 50%;
}

.sent {
    background-color: green;
    align-self: flex-end;
    width: 50%;
}

#text-area {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

#send-message-box {
    background-color: rgb(243 238 234);
    height: 10%;
}

#send-message-box>* {
    padding: 0.1rem 2rem;
    margin: 0.1rem;
}